[Unit]
Description=SLURM
After=network.target
After=time-sync.target
After=syslog.target

[Service]
UMask=022
Type=simple
User=root
Group=root
TimeoutStartSec=30
ExecStart={{ SLURM_DAEMON }} -D
MemoryLimit=6G
Restart=always

MemoryAccounting=yes
CPUAccounting=yes
BlockIOAccounting=yes

[Install]
WantedBy=multi-user.target